@use "../variables";

.day-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$light-gray;
  border-radius: 8px;
  position: relative;

  p {
    font-size: 3rem;
    font-weight: 600;
    opacity: 0.8;
  }

  .marks-list {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 6px;
    left: 6px;
  }

  .mark {
    width: 16px;
    height: 16px;
    border-radius: 20px;
  }
}
