@use "../variables";

.sidebar {
  display: flex;
  flex-direction: column;
  // height: 100%;
  width: 300px;
  background-color: variables.$dark-gray;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    border-bottom: 1px solid #6a6a6a;

    h1 {
      font-size: 2rem;
      font-weight: 700;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-input {
      display: flex;
      gap: 6px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 32px 24px;

    p {
      font-size: 18px;
      font-weight: 500;
    }
  }

  .button {
    color: variables.$text-color;
    background-color: #ca3e47;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 15px;
  }
}
